.body{
    text-align: center;
}


.img-background{
    background-image:url('/images/pexels-martin-damboldt-814499.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
   
    
}

.sec-col{
    margin-right: 0;
    padding-right: 0;
}


