body{
    text-align: center;
    font-family: 'Playfair Display SC';
}

.p1{
    font-family: 'Source Sans Pro', sans-serif;
}

.img-background{
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
    
    
}

#front-img{
    font-family: 'Playfair Display SC';
}

.nav-btn{
    background-color:#1A663B;
}

.nav-link{
    color: #68fa7ee0 !important;
    font-weight: 900;

    
}



.title{
    color: #68FA7E;
    font-family: 'Playfair Display SC' , serif;
    font-weight: 900;
    
}
 /* feutures */
#carouselId{
    width: 30%;
}

.dineer{
    width: 120%;
}

.p1{
    text-align: left;
    line-height: 1.5;
    margin:10% ;
    color: #38664C;
}

#feutures{
    background-color:#68fa7e6d ;
    
}